body :not(p){
    color: blue;
}

body :not(.fancy){
    background-color: chartreuse;
}

div:empty{
    background-color: black;
    border: 2px solid red;
    height: 100px;
    width: 100px;
}

:root{
    background-color: gray;
}