/* link, visited, hover, active */

a:link{
    color: blueviolet;
}

a:visited{
    color: red;
}

a:hover{
    color: green;
}

a:active{
    color: black;
}

p{
    color: blueviolet;
}

p:hover{
    color: darkred;
}

p:active{
    color:forestgreen;
}