@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px 40px;
}



header{
    background-color: #666;
    padding: 10px;
}
nav{
    margin-left: 520px;

}

nav>ul>li{
    display: inline-block;
    color: black;
    text-align: center;
    margin: 0px 20px;
    border-bottom: 3px solid black;
    font-size: 20px;
    text-transform: uppercase;
    
}

a{
    text-decoration: none;
    color: black;
}

section>h2{
    border-bottom: 3px solid black;
    color: #333;
    margin-top: 50px;
}

section>p{
    color: #666;
}


