a{
    border: 4px solid black;
    margin: 50px;
    width: 150px;
    height: 100px;
    padding: 30px;
}

/* After converting into inline-block */
a{
    display: inline-block;
    border: 4px solid black;
    margin: 50px;
    width: 150px;
    height: 100px;
    padding: 30px;

}